body {
  padding: 0px;
  margin:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/blogBackground.jpg');
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  width: 100%;
}

a,p {
  color: white;
}
h1,h2,h3{
  color: white !important;
}
.topBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  max-height: 70px;
  min-height: 60px;
  width: 100%;
}

.logo{
  display: flex;
  justify-content: flex-start;
  max-height: 70px;
}

.logout{
  margin-right: 15px;
}
